@{
    ViewBag.Title = "Плотность грозовой активности за " + ViewBag.currDate.ToString("MM.yyyy");
}

@section Scripts
{
    @Scripts.Render("~/Scripts/highcharts.js")

    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>

}

<div id="containerScatter" style="min-width: 310px; height: 800px; margin: 0 auto"></div>




<div id="containerScatterPlus" style="min-width: 310px; height: 800px; margin: 0 auto"></div>

<script>
$(function () {
    $('#containerScatterPlus').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Плотность положительной грозовой активности за месяц  @(ViewBag.currDate.ToString("MM.yyyy"))'
        },
        subtitle: {
            text: 'По данным грозопеленгаторов в Амурской области: Благовещенск, Тында, Архара, Февральск, Экимчар'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Долгота'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Широта'
            }

        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 3,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'Широта: {point.x}, Долгота: {point.y}'
                }
            }
        },
        series: [{
            name: 'Положительные грозоразряды',
            color: 'rgba(223, 83, 83, .5)',
            data: @ViewBag.ScatterPlus

            },
            @foreach(KeyValuePair<string, string> pair in ViewBag.StationsData)
            {
                <text>
                        {
                            marker: {
                                radius:10
                            },
                            name: '@pair.Key',
                            data: @pair.Value

                        },
                </text>


            }
        ]
    });
});

</script>
<script>
$(function () {
    $('#containerScatter').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Плотность грозовой активности за месяц  @(ViewBag.currDate.ToString("MM.yyyy"))'
        },
        subtitle: {
            text: 'По данным грозопеленгаторов в Амурской области: Благовещенск, Тында, Архара, Февральск, Экимчар'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Долгота'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Широта'
            }

        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 3,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'Широта: {point.x}, Долгота: {point.y}'
                }
            }
        },
        series: [{
            name: 'Грозоразряды',
            color: 'rgba(223, 83, 83, .5)',
            data: @ViewBag.Scatter

            },
            @foreach(KeyValuePair<string, string> pair in ViewBag.StationsData)
            {
                <text>
                        {
                            marker: {
                                radius:10
                            },
                            name: '@pair.Key',
                            data: @pair.Value
                            
                        },
                </text>
                

            }
        ]
    });
});

</script>


<div id="containerScatterMinus" style="min-width: 310px; height: 800px; margin: 0 auto"></div>

<script>
$(function () {
    $('#containerScatterMinus').highcharts({
        chart: {
            type: 'scatter',
            zoomType: 'xy'
        },
        title: {
            text: 'Плотность отрицательной грозовой активности за месяц  @(ViewBag.currDate.ToString("MM.yyyy"))'
        },
        subtitle: {
            text: 'По данным грозопеленгаторов в Амурской области: Благовещенск, Тында, Архара, Февральск, Экимчар'
        },
        xAxis: {
            title: {
                enabled: true,
                text: 'Долгота'
            },
            startOnTick: true,
            endOnTick: true,
            showLastLabel: true
        },
        yAxis: {
            title: {
                text: 'Широта'
            }

        },
        legend: {
            layout: 'vertical',
            align: 'left',
            verticalAlign: 'top',
            x: 100,
            y: 70,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF',
            borderWidth: 1
        },
        plotOptions: {
            scatter: {
                marker: {
                    radius: 3,
                    states: {
                        hover: {
                            enabled: true,
                            lineColor: 'rgb(100,100,100)'
                        }
                    }
                },
                states: {
                    hover: {
                        marker: {
                            enabled: false
                        }
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: 'Широта: {point.x}, Долгота: {point.y}'
                }
            }
        },
        series: [{
            name: 'Положительные грозоразряды',
            color: 'rgba(119, 152, 191, .9)',
            data: @ViewBag.ScatterMinus

            },
            @foreach(KeyValuePair<string, string> pair in ViewBag.StationsData)
            {
                <text>
                        {
                            marker: {
                                radius:10
                            },
                            name: '@pair.Key',
                            data: @pair.Value

                        },
                </text>


            }
        ]
    });
});

</script>

                